@use 'myLib';

footer {
  margin-top: 50px;
  .wave-effect {
    position: relative;
    bottom: -7px;
    width: 100%;
  }
  .content {
    background-color: black;
    color: white;
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 50px;
      .logo {
        @extend %flex-center;
        color: white;
        text-decoration: none;
        svg {
          @include myLib.square(50px);
          margin-right: 10px;
        }
        span {
          font-size: 2rem;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 5px;
          text-align: center;
        }
        @media (max-width: 475px) {
          flex-direction: column;
          svg {
            margin-bottom: 10px;
          }
        }
      }
      .copyright {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
      }
      .social-media {
        a {
          color: white;
          margin-left: 10px;
          font-size: 1.1rem;
        }
      }
      @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        >:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      @media (max-width: 600px) {
        .logo {
          svg {
            @include myLib.square(30px);
          }
          span {
            font-size: 1.4rem;
          }
        }
        .copyright {
          font-size: .9rem;
        }
        .social-media {
          font-size: 1rem;
        }
      }
    }
  }
}
