@use 'main';
@use 'myLib';


@keyframes dash-anim {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

header {
  display: none;
}

.landing {
  overflow-y: hidden;
  height: 100vh;
  width: 100%;
  color: white;
  background-color: black;
  position: relative;
  text-transform: capitalize;
  text-align: center;
  .heading {
    position: absolute;
    width: 100%;
    padding: 0 20px;
    @extend %position-center;
    .main-heading {
      font: {
        size: 3em;
        weight: 900;
      }
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
    .sub-heading {
      font-size: 2em;
      font-weight: normal;
      letter-spacing: 7px;
      margin-bottom: 20px;
    }
    .sub-heading2 {
      font-size: .9em;
      font-weight: normal;
      letter-spacing: 1px;
      font-family: sans-serif;
      max-width: 300px;
      margin: auto;
      line-height: 1.5;
    }
    @media (max-width: 600px) {
      font-size: .9rem;
    }
  }
  .brief {
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-family: Mulish;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0 20px;
    strong {
      font-weight: normal;
      color: #767676;
    }
    @media (max-width: 700px) {
      width: 100%;
      left: 50%;
      bottom: 60px;
      transform: translateX(-50%);
    }
  }
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: {
      image: url('https://marketifythemes.net/html/grax//img/patterns/light-honeycomb.png');
    }
    opacity: .4;
  }
  .dash {
    position: absolute;
    height: 50px;
    width: 1px;
    @extend %position-middle-x;
    bottom: 0;
    overflow-y: hidden;
    &::before {
      content: '';
      background-color: white;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      animation: dash-anim 2s infinite ease-in-out;
      z-index: 2;
    }
  }
}

main {
  .main-heading {
    font: {
      weight: 800;
      size: 2rem
    }
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
    margin: 150px auto 100px;
    line-height: 1.6;
  }
  nav {
    @extend %flex-center;
    ul.articles-list {
      @extend %list-reset;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
      gap: 50px 30px;
      width: 100%;
      justify-content: center;
      li {
        width: 100%;
        cursor: pointer;
        a {
          display: block;
          text-decoration: none;
          transition: .3s;
          box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, .4);
          cursor: pointer;
          width: 100%;
          min-height: 430px;
          &:hover {
            transform: translateY(-20px) scale(1.05);
            box-shadow: 15px 20px 15px 0 rgba(0, 0, 0, .3);
          }
          img {
            width: 100%;
          }
          article {
            height: 100%;
            padding: 20px;
            h5 {
              font: {
                size: 1.2rem;
                weight: 600;
              }
              letter-spacing: 1px;
              text-transform: capitalize;
              margin-bottom: 15px;
              line-height: 1.4;
            }
            p {
              font-weight: 300;
              line-height: 1.3;
            }
          }
        }
      }
    }
  }
  @media (max-width: 500px) {
    .main-heading {
      // font-size: 1.5rem;
    }
  }
}
