@use 'myLib';
@use 'main';

body {
  background-color: #eee;
}

main {
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
  }
  .heading {
    font-family: 'Work Sans', Poppins, sans-serif;
    :is(h1, h2, h3, h4, h5, h6) {
      text: {
        transform: capitalize;
        align: center;
        decoration: underline;
      }
      font-size: 3rem;
      font-weight: 700;
      margin: 20px 0 40px;
      line-height: 1.5;
      @media (max-width: 800px) {
        font-size: 2rem;
      }
      @media (max-width: 600px) {
        font-size: 1.6rem;
      }
      @media (max-width: 400px) {
        font-size: 1.4rem;
      }
    }
    img {
      display: block;
      margin: auto;
      max-width: 100%;
    }
  }
  .content {
    margin-top: 50px;
    font-family: 'Work Sans', Poppins, sans-serif;
    :is(h1, h2, h3, h4, h5, h6) {
      font-family: poppins, 'Work Sans', sans-serif;
      background-color: #f1f1f1;
      padding: 20px;
      text-transform: capitalize;
      margin: 15px 0;
      border-left: 3px solid black;
      font-size: 1.5rem;
      line-height: 1.6;
    }
    p {
      padding: 20px;
      margin: 15px 0;
      font-size: 1.3rem;
      line-height: 1.6;
      font-weight: 400;
      &::first-letter {
        text-transform: capitalize;
      }
    }
    ul, ol {
      padding: 0 20px 20px;
      margin: -20px 30px 15px;
      font-size: 1.3rem;
      line-height: 1.6;
      &::marker {
        font-family: 'Work Sans', Mulish, Poppins, sans-serif;
      }
      & + p {
        padding-top: 0;
        margin-top: -20px;
      }
    }
    img {
      display: block;
      margin: auto;
      width: 100%;
    }
    @media (max-width: 600px) {
      :is(h1, h2, h3, h4, h5, h6) {
        font-size: 1.1rem;
      }
      p {
        font-size: 1rem;
        padding: 10px 20px;
      }
      ul, ol {
        font-size: 1rem;
        margin: -20px 20px 15px;
      }
    }
  }
}
